.card {
  width: 300px;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  font-style: italic;
  line-height: 1.8;
  border-radius: 10px;
  background: repeating-linear-gradient(
      -45deg,
      #e8544d 0px 10px,
      #fff 10px 20px,
      #75adf8 20px 30px,
      #fff 30px 40px
    ) -20px -20px/200% 200%;
  padding: 5px;
  transition: 0.5s;
}
.container {
  padding: 10px;
  background: #fff;
}
.card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  background-position: 0 0;
}
