* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #191c29; */
  background: #fff;
}
.card {
  width: 200px;
  height: 300px;
  margin: 0 50px;
  transform: translateY(-50%);
  position: relative;
}
.card img {
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.5s;
}
.cover {
  height: 100%;
  z-index: 1;
}
.card:hover .cover {
  transform: perspective(500px) rotateX(25deg);
  box-shadow: 0 35px 35px -8px rgba(0, 0, 0, 0.75);
}
.hero {
  height: 100%;
  z-index: 2;
  opacity: 0;
}
.card:hover .hero {
  opacity: 1;
  transform: perspective(500px) translate3d(0, -50px, 50px);
}
.title {
  z-index: 3;
  bottom: 0;
}
.card:hover .title {
  transform: perspective(500px) translate3d(0, -25px, 50px);
}
