@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&amp;display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background: #aaa;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 120px;
  font-weight: 700;
  position: relative;
  font-family: 'Montserrat';
}
h1::before {
  content: 'DARKNESS';
  position: absolute;
  color: #000;
  transform: translate(-50px, 21px) scaleY(0.5) skew(50deg);
  z-index: -1;
  filter: blur(5px);
  -webkit-mask-image: linear-gradient(transparent, #000);
}
