* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-container {
  width: 500px;
  height: 300px;
  margin: 20px auto;
  position: relative;
  /* overflow: hidden; */
  outline: 10px solid #000;
}
.carousel-list {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  z-index: -1;
}
.carousel-item {
  height: 100%;
  flex: 0 0 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.carousel-item.item-1 {
  background: #fb5e56;
}
.carousel-item.item-2 {
  background: #febc2e;
}
.carousel-item.item-3 {
  background: #28c840;
}
.carousel-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.1;
  user-select: none;
  cursor: pointer;
  transition: 0.5s;
}
.carousel-arrow:hover {
  opacity: 0.7;
}
.carousel-arrow .iconfont {
  font-size: 1.5em;
}
.carousel-arrow-right {
  right: 10px;
}
.carousel-arrow-left {
  left: 10px;
}

.indicator {
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.indicator span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: 0 3px;
  cursor: pointer;
}
.indicator span.active {
  border-color: #fff;
  background: #fff;
}
