.content {
  width: 80%;
  margin: 1em auto;
  font-family: source-serif-pro, Georgia, Cambria, 'Times New Roman', Times,
    serif;
  letter-spacing: 2px;
  line-height: 2;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  color: #333;
}
.content::first-letter {
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-right: 10px;
  line-height: 1;
}
.content::selection {
  background: #333;
  color: #fff;
  text-decoration: underline;
}
