* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.avatar {
  background: url(../avatar.jpeg) center / cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.avatar::before,
.avatar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.avatar::before {
  background: rgba(0, 0, 0, 0.7);
}
.avatar::after {
  background: inherit;
  clip-path: circle(0% at 50% 50%);
  transition: 0.5s;
}
.avatar:hover::after {
  clip-path: circle(50% at 50% 50%);
}
