* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding-top: 100px;
}

.board {
  width: 320px;
  height: 320px;
  background: #e8e8e8;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.18) 0px 0px 1px -1px inset,
    rgba(0, 0, 0, 0.16) 0px 2px 5px -2px inset,
    rgba(0, 0, 0, 0.063) 0px 8px 24px -4px inset;
  color: #8a8a8a;
}
.iconfont {
  font-size: inherit;
}
.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  background: #fff;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.home:hover {
  color: #000;
}

.menu-item {
  font-size: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.menu-item:hover {
  color: #000;
}
