* {
  /* 初始化内外边距 */
  margin: 0;
  padding: 0;
}

body {
  perspective: 800px;
  background-color: #000;
}

.container {
  width: 300px;
  height: 200px;
  /* border: 1px solid red; */
  margin: 200px auto;
  position: relative;
  /* 相对定位 */
  /* 子绝父相 */
  transform-style: preserve-3d;
}

.container div {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-reflect: below 20px
    linear-gradient(transparent 10%, rgba(255, 255, 255, 0.3));
  border-radius: 10px;
}

/* 接下来我们就要针对 container 下面的 div 元素
一个一个的进行位置的调整 */

.container div:nth-child(1) {
  transform: translateZ(300px);
  background-color: #c14c39;
}

.container div:nth-child(2) {
  transform: rotateY(60deg) translateZ(300px);
  background-color: #6e9c72;
}

.container div:nth-child(3) {
  transform: rotateY(120deg) translateZ(300px);
  background-color: #5e5f7a;
}

.container div:nth-child(4) {
  transform: rotateY(180deg) translateZ(300px);
  background-color: #f5eb98;
}

.container div:nth-child(5) {
  transform: rotateY(240deg) translateZ(300px);
  background-color: #50a3bc;
}

.container div:nth-child(6) {
  transform: rotateY(300deg) translateZ(300px);
  background-color: #f9a99a;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}

.container {
  animation: rotate 20s linear infinite paused;
}
.container:hover {
  animation-play-state: running;
}
