* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #eb9f8e;
  color: #fff;
}
h1 {
  font-size: 5em;
  text-shadow: 
    -1px 1px #bbb, 
    -2px 2px #bbb,
    -3px 3px #bbb,
    -4px 4px #bbb,
    -10px 10px 3px #0008
    ;
}
