* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #9e2850;
  display: flex;
  align-items: center;
  padding-top: 200px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  font-family: 'Open Sans';
  flex-direction: column;
}
.container {
  font-weight: normal;
  display: flex;
  font-size: 2em;
}
