* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #171f30;
  line-height: 150%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
.selected {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  font-size: 1.3em;
  line-height: 1.5;
  font-family: 'Roboto Mono';
}
