@font-face {
  font-family: "iconfont"; /* Project id 3555577 */
  src: url('iconfont.woff2?t=1659078683822') format('woff2'),
       url('iconfont.woff?t=1659078683822') format('woff'),
       url('iconfont.ttf?t=1659078683822') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-tuodong:before {
  content: "\e604";
}

.i-tuodong1:before {
  content: "\e656";
}

