* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
}
.container video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.container .txt {
  font-family: '行楷-简';
  color: #000;
  font-size: 10em;
  font-weight: bold;
}
.txt {
  position: absolute;
  inset: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: screen;
}
