// @mixin flex($layout) {
//   display: flex;
//   justify-content: $layout;
//   align-items: $layout;
//   @content;
// }
// .nav {
//   @include flex(start) {
//     gap: 10px;
//   }
// }
$breakpoints: (
  'phone': (
    320px,
    480px,
  ),
  'pad': (
    481px,
    768px,
  ),
  'notebook': (
    769px,
    1024px,
  ),
  'desktop': (
    1025px,
    1200px,
  ),
  'tv': 1201px,
);

@mixin respondTo($breakname) {
  $bp: map-get($breakpoints, $breakname);
  @if type-of($bp) == 'list' {
    $min: nth($bp, 1);
    $max: nth($bp, 2);
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @media (min-width: $bp) {
      @content;
    }
  }
}
.header {
  width: 100%;

  @include respondTo('phone') {
    height: 50px;
  }
  @include respondTo('pad') {
    height: 60px;
  }
  @include respondTo('notebook') {
    height: 80px;
  }
}
// @media (min-width: 320px) and (max-width: 480px) {
//   .header {
//     height: 50px;
//   }
// }
// @media (min-width: 481px) and (max-width: 768px) {
//   .header {
//     height: 60px;
//   }
// }
// @media (min-width: 769px) and (max-width: 1024px) {
//   .header {
//     height: 80px;
//   }
// }
// @media (min-width: 1025px) and (max-width: 1200px) {
//   .header {
//     height: 100px;
//   }
// }
// @media (min-width: 1201px) {
//   .header {
//     height: 120px;
//   }
// }
