* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background: #000;
}

audio {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  top: 52vh;
}
canvas {
  display: block;
  width: 100vw;
  height: 50vh;
  background: #000;
  border-bottom: 1px solid #78c5f7;
}
