* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
}
.ball {
  position: fixed;
  width: 100px;
  height: 100px;
  background: #eb695e;
  border-radius: 100px;
  left: 0;
  top: 0;
  margin-left: -50px;
  margin-top: -50px;
}

.pointer {
  position: fixed;
  width: 100px;
  height: 100px;
  border: 5px solid #61c454;
  border-radius: 50%;
  animation: spread 0.5s forwards;
  margin-left: -50px;
  margin-top: -50px;
}

@keyframes spread {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
