body {
  background-color: #8e72ab;
}

.glock {
  position: relative;
  padding: 20px;
}
.piece:not(.base) {
  position: absolute;
  bottom: 53vw;
}
/* Widths come from comparison of full size width to base's width */
.slide {
  width: 92.083%;
}
.barrel {
  width: 54.25%;
  left: 7.5%;
}
.spring {
  width: 40.333%;
  left: 8.5%;
}
.base {
  width: 100%;
  position: relative;
  left: 3%;
  z-index: 1;
}