* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button {
  width: 160px;
  height: 80px;
  color: #0ebeff;
  font-size: 24px;
  background: #000;
  border: none;
  outline: none;
  z-index: 1;
  border-radius: 10px;
  cursor: pointer;
  /* outline: 4px solid #fff; */
  position: relative;
  overflow: hidden;
}
button::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  background: #33a9dc;
  z-index: -2;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  animation: rotation 3s infinite linear;
}

button::after {
  content: '';
  position: absolute;
  --w: 2px;
  border-radius: inherit;
  width: calc(100% - 2 * var(--w));
  height: calc(100% - 2 * var(--w));
  left: var(--w);
  top: var(--w);
  background: #000;
  z-index: -1;
}

@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}
